* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Karla';
  src: url(./fonts/Karla/Karla-Regular.ttf);
}

body {
  font-family: 'Karla', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Card */
:root {
  --radius: 20px;
}

li {
  list-style: none;
}

.cards {
  background-image: radial-gradient(
    rgb(0, 119, 255) 30%,
    rgb(19, 19, 19)
  );
}

.cards > ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5rem 1rem;
  width: 400px;
  height: 250px;
  border-radius: var(--radius);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(40px);
  color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.selected {
  border: 2px solid rgb(42, 236, 17);
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}

.card img {
  width: 100px;
}

/* Transactions */
.card-transactions {
  width: 60%;
  margin: 5rem auto;
}

.card-transactions li {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  min-height: 50px;
  background-color: rgb(240, 240, 240);
  border-radius: 50px;
}

.card-transactions li > * {
  margin: 0 0.5rem;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction img {
  margin-left: 0.5rem;
  width: 45px;
}

.transaction .price {
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .card-transactions {
    width: 85%;
  }
  .transaction img {
    width: 35px;
  }
}
